In [1]:
#Your objective is to build a Bubble Plot that showcases the relationship between four key variables:

# Average Fare ($) Per City
# Total Number of Rides Per City
# Total Number of Drivers Per City
# City Type (Urban, Suburban, Rural)

In [2]:
# Dependancies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
# Path to csv

ride_csv = "./ride_data.csv"
city_csv = "./city_data.csv"

In [4]:
# Reading csvs

ride_df = pd.read_csv(ride_csv)
city_df = pd.read_csv(city_csv)

ride_df.head()

In [5]:
city_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [6]:
#merging two dataFrames
merged_df = city_df.merge(ride_df, on = 'city')
merged_df.head()

         city  driver_count   type             date   fare       ride_id
0  Kelseyland            63  Urban   8/19/2016 4:27   5.51  6.250000e+12
1  Kelseyland            63  Urban   4/17/2016 6:59   5.54  7.470000e+12
2  Kelseyland            63  Urban  5/04/2016 15:06  30.54  2.140000e+12
3  Kelseyland            63  Urban  1/25/2016 20:44  12.08  1.900000e+12
4  Kelseyland            63  Urban  8/09/2016 18:19  17.91  8.780000e+12

In [7]:
# Average Fare ($) Per City

avg_fare = merged_df["fare"].mean()
avg_fare

26.86710427918569

In [8]:
#V# Total Number of Rides Per City
ridesPerCity = merged_df.groupby("city").ride_id.count()
ridesPerCity.head()

city
Alvarezhaven    31
Alyssaberg      26
Anitamouth       9
Antoniomouth    22
Aprilchester    19
Name: ride_id, dtype: int64

In [9]:
# Total Number of Drivers Per City
driversPerCity = merged_df.groupby(["city"]).driver_count.count()
driversPerCity.head()

city
Alvarezhaven    31
Alyssaberg      26
Anitamouth       9
Antoniomouth    22
Aprilchester    19
Name: driver_count, dtype: int64

In [11]:
driver_count = merged_df.mean()['driver_count']
driver_count

31.141670128791027

In [12]:
merged_df = city_df.merge(ride_df, on = 'city')

In [13]:
by_city = merged_df.groupby('city')
by_city